video {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

html, body {
	height: 100%;
}

html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
	font-size: 150%;
	line-height: 1.4;
}

body {
	margin: 0;
}

.viewport-header {
	position: relative;
	height: 100vh;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

h2 {
	font-family: 'Syncopate', sans-serif;
	color: #f5f5f5;
	letter-spacing: 5vw;
	line-height: 1.0;
	font-size: 1vw;
	padding-left: 65px;
}

h1 {
	font-family: 'Syncopate', sans-serif;
	color: #f5f5f5;
	line-height: 1.0;
	display: block;
	font-size: 95px;
	letter-spacing: -1.2vw;
}

.ghost-button {
	display: inline-block;
	width: 150px;
	padding: 8px;
	font-size: 16px;
	color: #fff;
	border: 1px solid #fff;
	text-align: center;
	outline: none;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}

.ghost-button:hover {
	display: inline-block;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0
		rgba(0, 0, 0, 0.19);
	background-color: rgb(192, 192, 192, 0.3);
	z-index: 0;
	content: '';
	transition: all 0.3s;
	width: 150px;
	padding: 8px;
	font-size: 16px;
	color: #fff;
	border: 1.5px solid #fff;
	text-align: center;
	outline: none;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}

nav {
	min-height: 11vh;
	background-color: transparent;
	font-family: 'Poppins', sans-serif;
	position: fixed;
	z-index: 1;
	padding-top: 15px;
	padding-left: 15px;
	width: 100%;
	overflow: hidden;
}

.nav-links {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.nav-links li {
	float: right;
	display: inline;
	padding-right: 50px;
}

.nav-links a {
	background: #fff;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 13px;
}